<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Posts</title>
</head>
<body>
    <h1>All Posts</h1>
    
    <p><a href="{{ url_for('create_post') }}">Create New Post</a> | <a href="{{ url_for('logout') }}">Logout</a></p>
        {% for post in posts %}
            <article>
                <h2>{{ post.title }}</h2>
                <p><strong>Author:</strong> {{ post.author }}</p>
                <p>{{ post.content }}</p>
                <hr>
            </article>
        {% endfor %}
</body>
</html>
